@import "variables";


.navigationDiv{
    display: flex;
    justify-content: center;
    margin: 5%;
}
.nextBtn{
    border: none;
    border-radius: 3px;
    background-color: $green;
    color: #fff;
    padding: 1%;
    font-size: 1.25rem;
    width: 85vw;
    margin: 1%;
    

}

.profileFormDiv{
    display: flex;
    flex-direction: column;


    .profilePhotoUpload{
        text-align: center;
        margin: 1.25rem;

        #fileChosen{
            margin-left: 3%;
        }

        label{
            background-color: $green;
            color: white;
            padding: 0.25rem 0.75rem;
            border-radius: 3px;
            cursor: pointer;
            
        }
    }


    //  skills  ------------------------------------------------------------
    .skillsFormSection{
        background-color: $grey;
        padding: 6% 8%;

        input{
            border: 1px solid $green;
            border-radius: 3px;
            padding: 0.2rem;

            
        }

        .formFields{
            display: flex;
            flex-direction: column;
            margin-bottom: 3%;
            input{
                width: 100%;
            }
        }

        .skillsDisplayInput{

            .formFields{
                display: flex;
                flex-direction: row;

                .skillsList{
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;

                    .skillItem{
                        padding-left: 100%;
                    }
                }
            }

            .skillInputSection{
                display: flex;
                flex-direction: row;

                .addBtn{
                    background-color: $green;
                    color: white;
                    border: none;
                    width: 20%;
                    margin-left: 3%;
                    border-radius: 3px;

                }
            }
        }
        .Dropdown-control, .Dropdown-menu{
            border: 1px solid $green;
            border-radius: 3px;
            padding: 0.25rem;
            color: black;

            .Dropdown-option{
                color: black;
                padding: 0.25rem;
            }
        }
        .Dropdown-control{
            margin: 3% 0;
        }
        


    }   

    //  deets ------------------------------------------------------------
    

    .doubleFields{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .formFields{
            width: 48%;
        }
    }

    .formFields{
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;


        .bio{
            height: 20vh;
            border: 1px solid $green;
            border-radius: 3px;
            resize: none;

        }

        .description{
            height: 10vh;
            border: 1px solid $green;
            border-radius: 3px;
            resize: none;
        }
    }

    label{
        font-weight: 500;
    }

    

    input[type=text], input[type=date]{
        border: 1px solid $green;
        border-radius: 3px;
        padding: 0 0.4rem;
        height: 2em;

        
    }

    .profileFormSection{
        background-color: $grey;
        padding: 6% 8%;


        


        

        .interestsSection{
            margin: 0 0 3%;

            .interestsCheckBoxes{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 2%;

     
                .checkboxes{
                    width: 50%;
                    padding: 1% 0;
                    
     
                    label{
                        padding-left: 5%;
                    }
                }
                 
             }
        }

        

        
    }

    // work


    .statusSelection{

        h3{
            margin-bottom: 5%;

        }

        .MuiFormControl-root{
            padding: 0 8%;

            .MuiRadio-colorSecondary.Mui-checked{
                color: $green;
            }
            
            .MuiTypography-body1{
                font-family: 'Quicksand', sans-serif;
            }

            // .radioGroupWork{

            // }
        }

        
    }

    .recentWork, .pastWork, .statusSelection{
        h3{
            background-color: $grey;
            padding: 6% 8%;
        }

        .formFields{
            display: flex;
            flex-direction: column;
            margin-bottom: 3%;
            width: 48%;
            flex-grow: 1;
            
            
        }

        .doubleFields{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .formFields{
                flex-grow: 0
            }
        }

        .recentWorkInfo{
            padding: 6% 8%;

            

            
            
        }
        input{
            border: 1px solid $green;
            border-radius: 3px;
            padding: 0 0.4rem;
            height: 2em;

        }

    }
    
}

.plusButton{
    background-color: $green;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 1%;
    margin-top: 3%;

}

// education

.eduProfileForm{
    

    

    .eduForms{
        padding: 6% 8%;

    }

    .eduItemDiv{
        padding: 5%;
        border: 1px solid $green;
        border-radius: 3px;
        margin-bottom: 3%;



        .eduItem{
            list-style-type: none;
        }
    }


}

.greyTitle{
    padding: 6% 8%;
    background-color: $grey;
}



// links

.linkForms{
    padding: 6% 8%;
    

}

.linkDropDown{
    padding: 6% 8%;

    .Dropdown-control, .Dropdown-menu{
        border: 1px solid $green;
        border-radius: 3px;
        padding: 0.25rem;
        color: black;
    
        .Dropdown-option{
            color: black;
            padding: 0.25rem;
        }
    }
    .Dropdown-control{
        margin: 3% 0;
    }


}


// review :

.reviewDivs{
    padding: 6% 8%;
}






.profilePhoto{
    background-color: $green;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 10em;
    
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
















// profile display : ------------------------------------------------------------

// looking for work display color: #9cff75
// open : #ccf0ff
// not looking : #999999 or  #ffbdbd

#profile{
    display: flex;
    flex-direction: column;
    // width: 85vw;
    margin: 0 auto;
    padding: 0;


    .nameLocation{
        text-align: center;

        #username{
            font-family: $dvb;
            color: $green;
            font-size: 3.5rem;
            font-weight: 200;
        }

        #name{
            font-weight: 400;
            font-size: 2rem;
            padding: 1%;
        }

        #location{
            font-weight: 100;
            font-size: 1.5rem;
            padding: 2%;
        }
    }
    


    h1{
        font-weight: 600;
    }

    .profileImageDisplay{

        .status-desktop{
            display: none;
        }

        .profileImg{
           background-color: #f3f3f3;
            width: 50%;
            height: auto;
            padding-top: 50%;
            border-radius: 50%;
            margin: 0 auto; 
        }
        
    }

    
    .personalDetails{
        text-align: center;



        .status{
            background-color: #d4ffc2;
            padding: 3%;
            margin-top: 3%;
        }

        .experienceDesc{
            background-color: rgba(117, 172, 180, 0.2);
            margin-bottom: 2%;
            padding: 3%;
            font-size: 1.25rem;

            h2{
                font-size: 1.25rem;
                border-top: 5px solid #fff;
                padding-top: 2%;
                margin-top: 3%;
            }

            .bold{
                font-weight: 600;
            }
        }


        

    }

    .bio{
        width: 70vw;
        margin: 0 auto;
        padding: 2% 0 4%;
        text-align: center;
    }

    .linksDisplay{
        background-color: $grey;
        padding: 5% 8%;

        .linkDiv{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            padding: 3%;

        }

        a{
            color: $green;
            width: 50%;
            font-size: 1.25rem;
            padding: 2%;
        }
        .links{
            color: black;
            list-style-type: none;
            text-decoration: none;
            


        }

    }


    .workDisplay, .eduDisplay{
        padding: 5% 8%;
        h2{
            font-size: 1.75rem;
            font-weight: 300;
            // text-decoration: underline;
            padding: 2% 0 1%;
        }
        h3{
            font-weight: 200;
            padding: 0.5% 0 6%;
        }


    }





    .eduDisplay{
        background-color: #F3F3F3;
    }

    .skillsDisplay{
        padding: 5% 8%;

        .skillsDiv{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 3% 0;

            .skills{
                border: 2px solid $green;
                border-radius: 3px;
                padding: 1% 5%;
                margin: 1% 1%;
                flex-grow: 1;
                text-align: center;
                
            }
        }



    }


    .postsDisplay{
        background-color: #F3F3F3;
        padding: 5% 8%;
    }
}





